
.container{
   
    width: 95%;
  
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.container h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}

.container h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .container h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #5FA599;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .succursales{
 font-weight: 500;
 color: #5FA599;

  }

  .box{
    position: relative;
    height:460px;
    width:400px;
    background-color:#5FA599;
    overflow: hidden;
    border-radius:15px ;
 
}

.box::before{
    content: '';
   position: absolute;
   top:-50%;
   left:-50%;
   height:460px;
    width:400px;
    top:-50%;
    transform-origin: bottom right;

 
}



